@font-face {
    font-family: openlight;
    src: url('openlight.ttf');
}

@font-face {
    font-family: open;
    src: url('open.ttf');
}

@font-face {
    font-family: museo;
    src: url('museo.otf');
}

@font-face {
    font-family: christmastime;
    src: url('Christmas Time Personal Use.ttf');
}

body {
    font-family: museo;
    overflow-x: hidden;
}

.link, .brand-style {
    color: #249C4A;
}

#section2 a {
    padding: 10px;
}

.notes {
    list-style-type: square;
    margin-left: 0px;
    padding: 10px;
    font-size: 16px;
}

.badge {
    font-weight: normal !important;
}

.empty-project, .empty-books {
    margin: 5px auto;
}

.navbar-brand {
    font-family: christmastime;
    font-size: 25px;
}