
@font-face {
    font-family:openlight;
	src: url('openlight.ttf'); 
}

@font-face {
    font-family:open;
	src: url('open.ttf');
}


@font-face {
    font-family:museo;
	src: url('museo.otf');
}

.row p a{
color:#fff;
}

body {
font-family:museo;
overflow-x:hidden;

}

#section2  a {

color:#116611;
padding:10px;

}
.notes{
    list-style-type: square;
    margin-left:0px;
    padding:10px;
    font-size:16px;
}
.badge{
    font-weight:normal !important;
}

.package{
    width:100px;
    transition:0.2s ease-in-out;

}
.package:hover{
    transform: scale(1.3);
    transition:0.2s ease-in-out;
}
.package-text{
    font-size:14px;
    background: #d23;
    color: #fff;
    position: relative;
    z-index:9999;
}
